*.user
*.cache
*.sdf
*.opensdf
*.suo
*.orig
*.userprefs
.DS_Store
*.nupkg
ipch/
Scratch/
packages/
TestDeployment/
TestResults/
test-results/
**/bin/Debug/**
**/bin/Release/**
**/obj/**
